# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
try.py
tryVisualization.py
relation-specific_test.ipynb

# C extensions
*.so

# folders
data/*
result/*
models/*
models_old/*
runs/
code/result/*

# bash
*.sh



code/tryVisualization.py
code/test.py

code/home/ni/Desktop/profile_log/pykeen/*
